.editor-wrapper {
  width: calc(100% - 10px);
  height: 100%;
  position: relative;
}

.editor-wrapper .button-format {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 20;
  opacity: 0;
  transition: opacity .3s;
}

.editor-wrapper:hover .button-format {
  opacity: 1;
}
